<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LEMP Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="wrap">
      <header class="hero">
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" onerror="this.style.display='none'">
        <h1>– LEMP Flask App -</h1>
        <p class="sub">Hosted on CSC cPouta • Nginx + Gunicorn + Flask</p>
      </header>

      <main class="card">
        <h2>SQL-palvelimen kellonaika</h2>
        <p class="time">{{ sql_time }}</p>

        <div class="grid">
          <div class="box">
            <h3>Ympäristö</h3>
            <ul>
              <li>Linux (Ubuntu)</li>
              <li>Nginx reverse proxy</li>
              <li>Gunicorn WSGI</li>
              <li>MySQL/MariaDB</li>
            </ul>
          </div>
          <div class="box">
            <h3>Repo</h3>
            <p>
                Tämä projekti on Git-versionhallinnassa.<br>
            <a href="https://github.com/anatt1b/Linux-administration" target="_blank">
                github.com/anatt1b/Linux-administration
            </a>
          </div>
        </div>
      </main>

      <footer>
        <p>© {{ year }}</p>
      </footer>
    </div>
  </body>
</html>
